.ghost-style-link {
  display: inline-block;
  margin: 20px;
  border: 3px solid currentColor;
  padding: 0.9375em 1.25em 0.625em;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #3fb5c8;
  transition: all 0.4s ease;
}

.ghost-style-link:hover {
  border-color: #3fb5c8;
  background: #3fb5c8;
  color: #fff;
}






.mjay-btn {
  display: inline-block;
  margin: 20px;
  border: 3px solid currentColor;
  padding: 0.9375em 1.25em 0.625em;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #58d9b2;
  transition: all 0.3s ease;
}
