@charset "UTF-8";
/* ! style.css @ yamoo.net, 2017 (!는 저작권이 있다는 표시)*/

html {
    /* height: 100px; */
    /* background-color: #fff; */
    font-size: 10px; /* rem 단위의 기준 값 */
}

/* body 요소에 배경이미지 (leanding 21px 패턴) 설정 */
body {
    min-height: 100vh; /* 현재 사용자가 보는 방식의 높이값 */
    margin: 0;
    /*background: url("../images/leading_21px.png");*/
    /* 본문 디자인(상속) */
    /* 속기형 font: [두께] [기울기] [응용] 크기[/행간] 글꼴; */
    font: 1.4rem/1.5 "Spoqa Han Sans";
    /* font-family: "Spoqa Han Sans"; */
    /* font-size: 1.4rem; */
    /* line-height: 1.5; /* CSS는 상속이라는 매커니즘을 사용하다 보니 단위를 붙이면 버그가 발생 */
    letter-spacing: -0.02em; /* -20/1000 */
    color: #333741;
}

body:hover {
    background: url("../images/leading_21px.png");
}


/* 제목/단락(본문)의 공통 디자인 */
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0; /* top에 줘도, bottom에 줘도 상관없다. 공간만 있으면 되니까! */
    /*margin-bottom: 1.5em;*/
    margin-bottom: 2.1rem;
}

/* 제목 공통 디자인 */
h1,h2,h3,h4 {
    font-weight: 300;
}

h5,h6 {
    letter-spacing: -0.05em;
    line-height: 2.1rem;
}


/* 제목 개별 디자인 */

h1 {
    font-size: 5.463rem; /* 54.63px */
    line-height: 6.3rem; /* 라인 3칸사용: 21px=2.1rem -> 3*2.1rem */
}
h2 {}
h3 {
    font-size: 3.169rem;
    line-height: 4.2rem;
}
h4 {}
h5 {
    font-weight: 700;
    font-size: 1.383rem;
    color: #787f94;
}
h6 {
    font-weight: 400;
    font-size: 1.563rem;
    color: #47494e;
}

/* 목록 공통 디자인 */
ul,ol {
    /* 웹 브라우저 기본 스타일(User Agent Style) 제거 */
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

}

/* 목록 개별 디자인 */
ul {}
ol {}

/* 목록 항목(아이템) 디자인 */
li {
    margin-bottom: 4.2rem;
}

/* 하이퍼링크 디자인 */
a[href] {
    color: #3292a7;
    text-decoration: none;
}

/* 상태 디자인 
   기본상태 (Normal State, :link)
   방문한 상태 (Visited State, :visited)
   마우스가 올라간 상태 (Hover State, :hover)
   클릭한(활성) 상태 (Active State, :active)
   포커스 상태 (Focus State, :focus)
   비활성 상태 (Deactive State)
*/
a[href]:hover {
    color: #227e92;
    text-decoration: underline;
}

/* 블록 요소 내, 이미지 하단 공간 제거 */
img {
    vertical-align: bottom;
}


/*--------------------------------*/


/* 페이지 컨테이너 */
.container {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}


/* 6강에 이어 7강(170228) */

.header {
    text-align: center;
    margin-top: 8.4rem; /* 위의 html에 rem단위의 기준값을 10px로 지정 했기 때문에 8.4rem */
}

.main {
    margin-top: 4.2rem;
}

.question {
    font-weight: 700;
    color: #2b2c2f;
}

.name {
    margin-top: 6.3rem;
    text-align: right;
}

.footer {
    margin-bottom: 6.3rem;
}
















