body {
    margin: 100px auto;
    width: 50%;
}


.dropcap {
    line-height: 1.5;
}

/* .dropcap .dropcap__first-child {
    float: left;
    margin-right: 5px;
    color: #f00;
    font-size: 64px;
    font-weight: 900;
    line-height: 1;
} */

.dropcap::first-letter {
    float: left;
    margin-right: 5px;
    font-size: 64px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    color: #1fcd98;
}




